<!DOCTYPE html>
<html>

<head>
  <title>Alma Project API Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="author" content="shailesh krishna">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
  </style>
</head>
<style>
.pre {
  text-align: center;
}
.heading {
  font-family: 'Cabin Sketch', cursive !important;
  font-size: 50px;
}

</style>
<body>
  <div class="pre">
    <h2 class="heading">ALMA PROJECT API</h2>
  </div>
  <div class="container">
    
  </div>
  

</body>

</html>